.select {
  color: #3FB84B;
  width: calc(100% - 144px);
  :global(div.rs__control) {
      border: none;
      border-radius: 0px 4px 4px 0px; 
      :global(div.rs__indicators) {
        padding-right: 8px;
        :global(div.rs__input-container) {
          color: #3FB84B;
        }
      }
    }
}

